

  <!-- ttm-fbar-main-w -->
  <div class="ttm-fbar-main-w ttm-fbar-position-right">
    <div class="ttm-fbar-box-w ttm-textcolor-white ttm-bgcolor-darkgrey ttm-bg ttm-bgimage-yes">
        <span class="ttm-fbar-btn">
            <a href="javascript:void(0)" class="ttm-fbar-btn-link">
                <span class="ttm-fbar-open-icon"><i class="fa fa-bars"></i>fghcffhg</span>
                <span class="ttm-fbar-close-icon"><i class="fa fa-times"></i>fhggfn</span>
            </a>
        </span>
        <div class="ttm-fbar-bg-layer ttm-bg-layer"></div>
        <!-- ttm-fbar-content-wrapper -->
        <div class="ttm-fbar-content-wrapper">
            <div class="ttm-fbar-box">
                <!-- ttm_widget_team_search-2 -->
                <aside id="ttm_widget_team_search-2" class="widget-even widget-4 widget ttm_widget_team_search">
                    <div class="team-search-form-w">
                        <form method="get" class="team-search-form " action="#">
                            <div class="ttm-team-search-title">
                                <h2>Doctors Search:</h2>
                            </div>
                            <div class="team-search-form-before-text">We provide the most full medical services, so every person could have the opportunity</div>
                            <div class="ttm-fbar-input">
                                <div class="search_field by_name">
                                    <i class="fa fa-user-md"></i><input type="text" placeholder="Search By Name" name="s" value="">
                                </div>
                            </div>
                            <div class="ttm-fbar-input">
                                <div class="search_field selectbox">
                                    <i class="fa fa-tags"></i>
                                    <select name="team_group" tabindex="-1" class="select2-hidden-accessible" aria-hidden="true">
                                        <option value="" class="select-empty">All Sections</option>
                                        <option value="dental">Dental</option>
                                        <option value="dermatologist">Dermatologist</option>
                                        <option value="health-care">Health Care</option>
                                        <option value="ophthalmology">Ophthalmology</option>
                                        <option value="psychological">Psychological</option>
                                        <option value="surgery">Surgery</option>
                                    </select>
                                </div>
                            </div>
                            <div class="submit_field"><button type="submit">Search</button></div>
                        </form>
                    </div>
                </aside><!-- ttm_widget_team_search-2 end -->
                <!-- enhanced-text-widget -->
                <aside id="enhancedtextwidget-10" class="widget-odd widget-5 widget widget_text enhanced-text-widget">
                    <h3 class="widget-title">Opening Hours:</h3>
                    <div class="textwidget widget-text">These are our normal opening hours. When we are closed can be found here.<br>
                        <div class="ttm-pricelistbox-wrapper ">
                            <ul class="ttm-pricelist-block">
                                <li>Monday - Saturday<span class="service-price">8.30 – 17.00</span></li>
                                <li>Sunday<span class="service-price"><strong>Closed</strong></span></li>
                            </ul>
                        </div>
                    </div>
                </aside><!-- enhanced-text-widget end -->
                <!-- enhanced-text-widget -->
                <aside id="enhancedtextwidget-11" class="widget-even widget-6 widget widget_text enhanced-text-widget">
                    <div class="textwidget widget-text">
                        <div class="featured-icon-box left-icon icon-align-top">
                            <div class="featured-icon">
                                <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square">
                                    <i class="fa fa-phone"></i>
                                </div>
                            </div>
                            <div class="featured-content">
                                <div class="featured-title">
                                    <h5>+123 456 78910 / 11</h5>
                                </div>
                                <div class="featured-desc">
                                    <p>Have a question? call us now</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside><!-- enhanced-text-widget end -->
            </div>
        </div><!-- ttm-fbar-content-wrapper end -->
    </div>
</div>
<!-- ttm-fbar-main-w end -->




















<!--broken-section-->
<section class="ttm-row broken-section bg-img6 bg-layer bg-layer-equal-height clearfix">
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-7">
                <!-- ttm-fid-border -->
                <div class="ttm-fid-border ttm-col-bgcolor-yes ttm-bg ttm-right-span ttm-bgcolor-skincolor spacing-1">
                    <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                    <div class="layer-content">
                        <!-- section title -->
                        <div class="section-title clearfix">
                            <div class="title-header">
                                <h5>ABOUT MEDICAL</h5>
                                <h2 class="title">Powered By Over 1,503 Patients Trust Us With Their Sweet Love.</h2>
                            </div>
                        </div><!-- section title end -->
                        <div class="pt-10">
                            <div class="row">
                                <div class="col-sm-4">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                                        <div class="ttm-fid-icon-wrapper">
                                            <i class="themifyicon ti-cup"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation="animateDigits" 
                                                        data-from="0" 
                                                        data-to="201" 
                                                        data-interval="5" 
                                                        data-before="" 
                                                        data-before-style="sup" 
                                                        data-after="" 
                                                        data-after-style="sub">
                                                    201
                                                </span>
                                            </h4>
                                            <h3 class="ttm-fid-title"><span>Award Win<br></span></h3>
                                        </div>
                                    </div><!-- ttm-fid end -->
                                </div>
                                <div class="col-sm-4">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                                        <div class="ttm-fid-icon-wrapper">
                                            <i class="themifyicon ti-user"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation="animateDigits" 
                                                        data-from="0" 
                                                        data-to="354" 
                                                        data-interval="5" 
                                                        data-before="" 
                                                        data-before-style="sup" 
                                                        data-after="" 
                                                        data-after-style="sub">
                                                    354
                                                </span>
                                            </h4>
                                            <h3 class="ttm-fid-title"><span>Qualified Staff<br></span></h3>
                                        </div>
                                    </div><!-- ttm-fid end -->
                                </div>
                                <div class="col-sm-4">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                                        <div class="ttm-fid-icon-wrapper">
                                            <i class="themifyicon ti-heart-broken"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation="animateDigits" 
                                                        data-from="0" 
                                                        data-to="124" 
                                                        data-interval="5" 
                                                        data-before="" 
                                                        data-before-style="sup" 
                                                        data-after="" 
                                                        data-after-style="sub">
                                                    124
                                                </span>
                                            </h4>
                                            <h3 class="ttm-fid-title"><span>Machines<br></span></h3>
                                        </div>
                                    </div><!-- ttm-fid end -->
                                </div>
                                <div class="col-sm-4">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                                        <div class="ttm-fid-icon-wrapper">
                                            <i class="themifyicon ti-blackboard"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation="animateDigits" 
                                                        data-from="0" 
                                                        data-to="4012" 
                                                        data-interval="5" 
                                                        data-before="" 
                                                        data-before-style="sup" 
                                                        data-after="" 
                                                        data-after-style="sub">
                                                    4012
                                                </span>
                                            </h4>
                                            <h3 class="ttm-fid-title"><span>Hospital Rooms<br></span></h3>
                                        </div>
                                    </div><!-- ttm-fid end -->
                                </div>
                                <div class="col-sm-4">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                                        <div class="ttm-fid-icon-wrapper">
                                            <i class="themifyicon ti-thumb-up"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation="animateDigits" 
                                                        data-from="0" 
                                                        data-to="7015" 
                                                        data-interval="5" 
                                                        data-before="" 
                                                        data-before-style="sup" 
                                                        data-after="" 
                                                        data-after-style="sub">
                                                    7015
                                                </span>
                                            </h4><h3 class="ttm-fid-title"><span>Happy Patients<br></span></h3>
                                        </div>
                                    </div><!-- ttm-fid end -->
                                </div>
                                <div class="col-sm-4">
                                    <!-- ttm-fid -->
                                    <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                                        <div class="ttm-fid-icon-wrapper">
                                            <i class="themifyicon ti-eraser"></i>
                                        </div>
                                        <div class="ttm-fid-contents">
                                            <h4 class="ttm-fid-inner">
                                                <span   data-appear-animation="animateDigits" 
                                                        data-from="0" 
                                                        data-to="254"
                                                        data-interval="5" 
                                                        data-before="" 
                                                        data-before-style="sup" 
                                                        data-after="" 
                                                        data-after-style="sub">
                                                    254
                                                </span>
                                            </h4>
                                            <h3 class="ttm-fid-title"><span>Suppliers<br></span></h3>
                                        </div>
                                    </div><!-- ttm-fid end -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- ttm-fid-border end-->
            </div>
        </div><!-- row end -->
    </div>
</section>
<!--broken-section end-->