

{% extends 'front/base.html' %}

{% load static %}

{% block css %}

{% endblock %}

{% block news-main %} active {% endblock %}
{% block event %} active {% endblock %}
{% block upcoming %} active {% endblock %}

{% block page-name %}<span> Event </span> {% endblock %}

{% block content %}

 
    <!--site-main start-->
    <div class="site-main">

        <section class="ttm-row pb-60 res-991-pb-20 clearfix">
            <div class="container">
                <!-- row -->
                <div class="row multi-columns-row ttm-boxes-row-wrapper">
                    <div class="ttm-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12">
                        <!--featured-imagebox-->
                        <div class="featured-imagebox featured-imagebox-event ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'front/images/blog/blog-one-1200x800.jpg' %}" alt="">
                            </div>
                            <div class="featured-content featured-content-bottom">
                                <div class="ttm-events-meta">
                                    <div class="ttm-meta-date ">
                                        <span class="ttm-event-date">
                                            <span class="ttm-event-meta-dtstart"> 25<span class="entry-month">Nov</span> </span>
                                            <span class="ttm-event-meta-dtend"> </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5 class="text-center"><a href="">Delmont Education Course & Workshops 2019</a></h5>
                                </div>
                                <div class="tribe-events-vanue"> 
                                    <i class="fa fa-map-marker"></i>AAU meeting hall 
                                </div>

                                <div class="accordion mb-25">

                                    <div class="toggle-content">
                                        <div class="featured-desc">
                                            <p>On the other hand, we denounce with righteous indignation and dislike men so beguiled.</p>
                                        </div>
                                    </div>
                                    <div class="toggle-title">
                                        <div class="ttm-eventbox-footer">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#eventOne" > 
                                                View Details <i class="ti ti-arrow-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <!-- <div class="toggle-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#eventtow" >
                                            <i class="fa fa-cog"></i>Why should i choose your company?
                                        </a>
                                    </div> -->

                                </div>



                             






                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12">
                        <!--featured-imagebox-->
                        <div class="featured-imagebox featured-imagebox-event ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'front/images/blog/blog-two-1200x800.jpg' %}" alt="">
                            </div>
                            <div class="featured-content featured-content-bottom">
                                <div class="ttm-events-meta">
                                    <div class="ttm-meta-date ">
                                        <span class="ttm-event-date">
                                            <span class="ttm-event-meta-dtstart"> 08<span class="entry-month">Nov</span> </span>
                                            <span class="ttm-event-meta-dtend"> </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5 class="text-center"><a href="single-blog.html">Conference on Orthopedic & Neuro sciences</a></h5>
                                </div>
                                <div class="featured-desc">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority suffered alteration.</p>
                                </div>
                                <div class="tribe-events-vanue"> <i class="fa fa-map-marker"></i>Manhamman, New York </div>
                                <div class="ttm-eventbox-footer">
                                    <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor ttm-icon-btn-right btn-inline" href="#">View Details<i class="ti ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12">
                        <!--featured-imagebox-->
                        <div class="featured-imagebox featured-imagebox-event ttm-box-view-top-image">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'front/images/blog/blog-three-1200x800.jpg' %}" alt="">
                            </div>
                            <div class="featured-content featured-content-bottom">
                                <div class="ttm-events-meta">
                                    <div class="ttm-meta-date ">
                                        <span class="ttm-event-date">
                                            <span class="ttm-event-meta-dtstart"> 18<span class="entry-month">Oct</span> </span>
                                            <span class="ttm-event-meta-dtend"> </span>
                                        </span>
                                    </div>
                                </div>
                                <div class="featured-title">
                                    <h5  class="text-center" ><a href="single-blog.html">Digital Healthcare Conference 2019</a></h5>
                                </div>
                                <div class="featured-desc">
                                    <p>It is a long established fact that a reader will be distracted by the content of a page when looking at its layout.</p>
                                </div>
                                <div class="tribe-events-vanue"> <i class="fa fa-map-marker"></i>Manhamman, New York </div>
                                <div class="ttm-eventbox-footer">
                                    <a class="ttm-btn ttm-btn-size-sm ttm-btn-color-skincolor ttm-icon-btn-right btn-inline" href="#">View Details<i class="ti ti-arrow-right"></i></a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox end-->
                    </div>
                </div><!-- row end -->
                
                <!-- list style -->
                <div class="col-lg-4">
                    <div class="ttm-pf-single-detail-box res-991-mt-30">
                        <div class="ttm-pf-detailbox">
                            <ul class="ttm-pf-detailbox-list">
                                <li class="ttm-pf-details-date">
                                    <span class="ttm-pf-left-details color-gray"> <span class="tribe-events-vanue"><i class=""> 1</i></span></span>
                                    <span class="ttm-pf-right-details">Vulputate Cursus Vulputate CursusV ulputate Cursus</span>
                                </li>
                                <li class="ttm-pf-details-date">
                                    <span class="ttm-pf-left-details color-gray"> <span class="tribe-events-vanue"><i class="fa fa-map-marker"></i></span> Event Venue: </span>
                                    <span class="ttm-pf-right-details">Addis Ababa University</span>
                                </li>
                                <li class="ttm-pf-details-date">
                                    <span class="ttm-pf-left-details color-gray"> <span class="tribe-events-vanue"><i class="fa fa-user"></i></span> Host: </span>
                                    <span class="ttm-pf-right-details">Dr. Teresa Mayer</span>
                                </li>
                                <li class="ttm-pf-details-date">
                                    <span class="ttm-pf-left-details color-gray"> <span class="tribe-events-vanue"><i class="fa fa-calendar"></i></span> Event Date: </span>
                                    <span class="ttm-pf-right-details">25th November 2018</span>
                                </li>
                                <li class="ttm-pf-details-date">
                                    <span class="ttm-pf-left-details color-gray"> <span class="tribe-events-vanue"><i class="fa fa-plus"></i></span> About the Event: </span>
                                    <span class="ttm-pf-right-details">Vulputate Cursus Vulputate CursusV ulputate Cursus 25th November 2018 Vulputate Cursus Vulputate CursusV ulputate Cursus</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- with picture -->
                <div class="ttm-box-col-wrapper col-lg-4 col-sm-6 col-md-4 col-xs-12">
                    <!--featured-imagebox-->
                    <div class="featured-imagebox featured-imagebox-event ttm-box-view-top-image">
                        
                        <div class="featured-content featured-content-bottom">
                            <div class="featured-thumbnail">
                                <img class="img-fluid" src="{% static 'front/images/blog/blog-three-1200x800.jpg' %}" alt=""
                                style="position: relative; text-align: center; left: 95px; width: 50%; border-radius: 50%;">
                            </div>
                            <!-- <div class="ttm-events-meta">
                                <div class="ttm-meta-date ">
                                    <span class="ttm-event-date">
                                        <span class="ttm-event-meta-dtstart"> 18<span class="entry-month">Oct</span> </span>
                                        <span class="ttm-event-meta-dtend"> </span>
                                    </span>
                                </div>
                            </div> -->
                            <div class="featured-title">
                                <h5  class="text-center" ><a href="single-blog.html">Digital Healthcare Conference 2019</a></h5>
                            </div>
                            <div class="tribe-events-vanue">   <i class="fa fa-map-marker"></i>AAU meeting hall  </div>
                            <div class="tribe-events-vanue">   <i class="fa fa-clock-o"></i>Monday, 23, 2020  </div>

                            <div class="accordion ">

                                <div class="toggle-content">
                                    <div class="featured-desc">
                                        <p>On the other hand, we denounce with righteous indignation and dislike men so beguiled.</p>
                                    </div>
                                </div>
                                <div class="toggle-title">
                                    <div class="ttm-eventbox-footer">
                                       <p class="ttm-btn-size-sm" > <a style="font-size: 16px!important;" data-toggle="collapse" data-parent="#accordion" href="#eventOne" > 
                                            View Details <i class="ti ti-arrow-down"></i>
                                        </a></p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div><!-- featured-imagebox end-->
                </div>






                <div class="col-lg-12 ">
                    <div class="ttm-pagination">
                        <a class="next page-numbers" href="#"><i class="ti ti-arrow-left"></i></a>
                        <span class="page-numbers current">1</span>
                        <a class="page-numbers" href="#">2</a>
                        <a class="next page-numbers" href="#"><i class="ti ti-arrow-right"></i></a>
                    </div>
                </div>
                
            </div>
        </section>

        
    </div><!--site-main end-->


{% endblock %}
