

{% extends 'front/base.html' %}

{% load static %}

{% block css %}

{% endblock %}

{% block news-main %} active {% endblock %}
{% block news %} active {% endblock %}

{% block page-name %}<span>News </span> {% endblock %}

{% block content %}

 
    <!--site-main start-->
    <div class="site-main">

        <div class="ttm-row pb-60 res-991-pb-20 ttm-bgcolor-grey clearfix">
            <div class="container">
                <div class="row multi-columns-row ttm-boxes-row-wrapper">
                    <div class="ttm-box-col-wrapper col-lg-6 col-md-6 col-sm-12">
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post ttm-box-view-left-image box-shadow row">
                            <div class="col-lg-5 col-md-12 ttm-featured-img-left">
                                <div class="ttm-post-featured-outer">
                                    <div class="ttm-post-thumbnail featured-thumbnail">
                                        <img class="img-fluid" src="{% static 'front/images/portfolio/post-one-768x800.jpg' %}" alt="">
                                    </div>
                                    <div class="ttm-box-post-date">
                                        <span class="ttm-entry-date">
                                            <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">16<span class="entry-month">Jan<span class="entry-year">2019</span></span></time>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-12 featured-content featured-content-post">
                                <div class="post-title featured-title">
                                    <h5><a href="">How much aspirin to take for stroke</a></h5>
                                </div>
                                <div class="post-desc featured-desc">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="post-meta">
                                    <a href="">
                                        <span class="ttm-meta-line comments-link"> Read More <i class="fa fa-arrow-right"></i></span>
                                     </a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-post end-->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-6 col-md-6 col-sm-12">
                        <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post ttm-box-view-left-image box-shadow row">
                            <div class="col-lg-5 col-md-12 ttm-featured-img-left">
                                <div class="ttm-post-featured-outer">
                                    <div class="ttm-post-thumbnail featured-thumbnail">
                                        <img class="img-fluid" src="{% static 'front/images/portfolio/post-two-768x800.jpg' %}" alt="">
                                    </div>
                                    <div class="ttm-box-post-date">
                                        <span class="ttm-entry-date">
                                            <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">20<span class="entry-month">Jan<span class="entry-year">2019</span></span></time>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-12 featured-content featured-content-post">
                                
                                <div class="post-title featured-title">
                                    <h5><a href="single-blog.html">Implant Surgical equipment technology</a></h5>
                                </div>
                                <div class="post-desc featured-desc">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="post-meta">
                                    <a href="">
                                        <span class="ttm-meta-line comments-link"> Read More <i class="fa fa-arrow-right"></i></span>
                                     </a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-post end -->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-6 col-md-6 col-sm-12">
                         <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post ttm-box-view-left-image box-shadow row">
                            <div class="col-lg-5 col-md-12 ttm-featured-img-left">
                                <div class="ttm-post-featured-outer">
                                    <div class="ttm-post-thumbnail featured-thumbnail">
                                        <img class="img-fluid" src="{% static 'front/images/portfolio/post-three-768x800.jpg' %}" alt="">
                                    </div>
                                    <div class="ttm-box-post-date">
                                        <span class="ttm-entry-date">
                                            <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">24<span class="entry-month">Jan<span class="entry-year">2019</span></span></time>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-12 featured-content featured-content-post">
                                
                                <div class="post-title featured-title">
                                    <h5><a href="single-blog.html">The Benefits of Middle-Age Fitness</a></h5>
                                </div>
                                <div class="post-desc featured-desc">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="post-meta">
                                    <a href="">
                                        <span class="ttm-meta-line comments-link"> Read More <i class="fa fa-arrow-right"></i></span>
                                     </a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-post end-->
                    </div>
                    <div class="ttm-box-col-wrapper col-lg-6 col-md-6 col-sm-12">
                         <!-- featured-imagebox-post -->
                        <div class="featured-imagebox featured-imagebox-post ttm-box-view-left-image box-shadow row">
                            <div class="col-lg-5 col-md-12 ttm-featured-img-left">
                                <div class="ttm-post-featured-outer">
                                    <div class="portfolio-img-slide owl-carousel owl-theme owl-loaded" data-item="1" data-nav="false" data-dots="true" data-auto="true">
                                        <div class="featured-thumbnail"> 
                                            <img class="img-fluid" src="{% static 'front/images/portfolio/post-one-768x800.jpg' %}" alt="image"> 
                                        </div> 
                                        <div class="featured-thumbnail"> 
                                            <img class="img-fluid" src="{% static 'front/images/portfolio/post-two-768x800.jpg' %}" alt="image"> 
                                        </div> 
                                        <div class="featured-thumbnail"> 
                                            <img class="img-fluid" src="{% static 'front/images/portfolio/post-three-768x800.jpg' %}" alt="image"> 
                                        </div>
                                    </div> 
                                    <div class="ttm-box-post-date">
                                        <span class="ttm-entry-date">
                                            <time class="entry-date" datetime="2019-01-16T07:07:55+00:00">24<span class="entry-month">Jan<span class="entry-year">2019</span></span></time>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-7 col-md-12 featured-content featured-content-post">
                                
                                <div class="post-title featured-title">
                                    <h5><a href="single-blog.html">Organic Food Vs. Conventional Food</a></h5>
                                </div>
                                <div class="post-desc featured-desc">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's...</p>
                                </div>
                                <div class="post-meta">
                                    <a href="">
                                        <span class="ttm-meta-line comments-link"> Read More <i class="fa fa-arrow-right"></i></span>
                                     </a>
                                </div>
                            </div>
                        </div><!-- featured-imagebox-post end-->
                    </div>
                </div>
            </div>
        </div>



    </div><!--site-main end-->


{% endblock %}
