{% extends 'front/base.html' %} 

{% load static %} 

{% block css %}
<style>
  /* input {
        background: transparent !important;
        color:#fff !important;
        border-bottom: 1px solid #fff !important;
    } */
</style>
{% endblock %} 

{% block about-main %} active {% endblock %}
{% block about %} active {% endblock %}

{% block page-name %}<span>About us </span> {% endblock %}

{% block content %}

<div class="site-main single">
  
    <!--introduction-section-->
    <section class=" break-1199-colum clearfix" >
      <div class="container">
        
          <!-- row -->
          <div class="row">
            <div class="col-lg-12 col-md-12 pt-25">
                <!-- section-title -->
                <div class="section-title with-desc clearfix">
                    <div class="title-header text-center">
                        <h5 > About Delta </h5>
                    </div>
                </div><!-- section-title end -->
            </div>
        </div><!-- row end -->

        <div class="row">
          <div class="col-lg-7 col-sm-12">
            <div class="pl-60 pb-20 res-1199-pl-0 res-1199-pt-40 res-1199-pb-0">
              <!-- section title -->
              <!-- <div class="section-title clearfix">
                <div class="title-header">
                  <h2 class="title">Who We Are?</h2>
                </div>
              </div> -->
              <!-- section title end -->
              <div class="mb-30 clearfix">
                <p>
                  Delta Cancer Screening and Treatment Center is a medical facility
                  located in Addis Ababa, Ethiopia. The center is dedicated to
                  providing comprehensive cancer screening and treatment services to
                  the people of Ethiopia. Delta Cancer Screening and Treatment
                  Center is affiliated with Addis Ababa University, one of the
                  leading universities in Ethiopia, and is staffed by a team of
                  highly trained medical professionals.
                </p>
                <p>
                  At Delta Cancer Screening and Treatment Center, we believe that
                  early detection is key to fighting cancer. That’s why we offer a
                  range of screening services, including mammograms, colonoscopies,
                  and pap smears, to help detect cancer in its early stages. Our
                  team of medical professionals is dedicated to providing the
                  highest quality care to our patients, and we work closely with
                  each patient to develop a personalized treatment plan that meets
                  their unique needs.
                </p>
              </div>
              
              <div class="sep_holder_box pt-25 mb-45 res-991-mb-20">
                <span class="sep_holder">For More <span class="sep_line"></span></span>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box icon-box-heading-only left-icon">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md"> 
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                              <a href="tel:0921757138"> <h6>Give Us Call </h6></a>
                            </div>
                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-md-4 col-sm-12">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box icon-box-heading-only left-icon">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md"> 
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                              <a href="mailto:Support@delta.com"> <h6>Send a Mail </h6></a>
                            </div>
                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
                <div class="col-md-4 col-sm-12">
                    <!--featured-icon-box-->
                    <div class="featured-icon-box icon-box-heading-only left-icon">
                        <div class="featured-icon">
                            <div class="ttm-icon ttm-icon_element-color-skincolor ttm-icon_element-size-md"> 
                                <i class="fa fa-map-marker"></i>
                            </div>
                        </div>
                        <div class="featured-content">
                            <div class="featured-title">
                              <a href="googlemap.com"> <h6>Visit Our Office </h6></a>
                            </div>
                        </div>
                    </div><!-- featured-icon-box end-->
                </div>
            </div>

            </div>
          </div>
          
          <div class="col-lg-5 col-sm-12">
            <!-- col-bg-img-two -->
            <div class="col-bg-img-two ttm-col-bgimage-yes ttm-bg res-1199-ptb-200 ttm-reset-content-center-1199">
              <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
            </div>
            <!-- col-bg-img-two end-->
          </div>

        </div>
        <!-- row end -->
      </div>
    </section>
    <!--introduction-section end-->

    
    <!--statistic-section-->
    <section class="pt-25 ">
      <div
          class="ttm-row services-section ttm-bgcolor-darkgrey bg-img5 ttm-bg ttm-bgimage-yes ttm-bgcolor-darkgrey clearfix">
          <div class="ttm-row-wrapper-bg-layer ttm-bg-layer" style="opacity: 0.8!important;"></div>
          <div class="container">

              <div class="row pb-25" >
                  <div class="col-lg-12">
                      <div class="mt-10">

                          <div class="row">
                              <div class="col-md-3 col-sm-6" style="border-right: 1px solid #9dabaf;">
                                  <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                                      <div class="ttm-fid-icon-wrapper">
                                          <i class="fa fa-list"></i>
                                      </div>
                                      <div class="ttm-fid-contents">
                                          <h4 class="ttm-fid-inner">
                                              <span data-appear-animation="animateDigits" data-from="0" data-to="12"
                                                  data-interval="5" data-before="" data-before-style="sup" data-after=""
                                                  data-after-style="sub">
                                                  12
                                              </span>
                                          </h4>
                                          <h3 class="ttm-fid-title"><span>Projects<br></span></h3>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3 col-sm-6 " style="border-right: 1px solid #9dabaf;">
                                  <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                                      <div class="ttm-fid-icon-wrapper">
                                          <i class="fa fa-user"></i>
                                      </div>
                                      <div class="ttm-fid-contents">
                                          <h4 class="ttm-fid-inner">
                                              <span data-appear-animation="animateDigits" data-from="0" data-to="2560"
                                                  data-interval="70" data-before="" data-before-style="sup" data-after=""
                                                  data-after-style="sub">
                                                  2560
                                              </span>
                                          </h4>
                                          <h3 class="ttm-fid-title"><span>Clients<br></span></h3>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3 col-sm-6" style="border-right: 1px solid #9dabaf;">
                                  <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                                      <div class="ttm-fid-icon-wrapper">
                                          <i class="fa fa-hospital-o"></i>
                                          <!-- <i class="themifyicon ti-timer"></i> -->
                                      </div>
                                      <div class="ttm-fid-contents">
                                          <h4 class="ttm-fid-inner">
                                              <span data-appear-animation="animateDigits" data-from="0" data-to="36"
                                                  data-interval="5" data-before="" data-before-style="sup" data-after=""
                                                  data-after-style="sub">
                                                  36
                                              </span>
                                          </h4>
                                          <h3 class="ttm-fid-title"><span>Hospitals<br></span></h3>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-3 col-sm-6">
                                  <div class="ttm-fid inside ttm-fid-with-icon ttm-fid-view-lefticon">
                                      <div class="ttm-fid-icon-wrapper">
                                          <i class="fa fa-folder-open"></i>
                                      </div>
                                      <div class="ttm-fid-contents">
                                          <h4 class="ttm-fid-inner">
                                              <span data-appear-animation="animateDigits" data-from="0" data-to="70"
                                                  data-interval="10" data-before="" data-before-style="sup" data-after=""
                                                  data-after-style="sub">
                                                  70
                                              </span>
                                          </h4>
                                          <h3 class="ttm-fid-title"><span>Researches<br></span></h3>
                                      </div>
                                  </div>
                              </div>
                          </div>


                      </div>
                  </div>
              </div>
          </div>
      </div>
    </section>
    <!--statistic-section end-->

    
    <!-- mission, vision & value -->
    <section class=" multi-section break-991-colum clearfix pt-150">
      <div class="container">
          <div class="row mt_190 res-1199-mlr-15 res-991-mt-50 box-shadow2 no-gutters">
              <div class="col-md-5">
                  <!-- col-bg-img-three -->
                  <div class="col-bg-img-three ttm-bg ttm-col-bgimage-yes">
                      <div class="ttm-col-wrapper-bg-layer ttm-bg-layer"></div>
                      <div class="layer-content">
                      </div>
                  </div><!-- col-bg-img-three end -->
              </div>
              <div class="col-md-7">
                  <div class="spacing-7 ttm-bgcolor-white">
                      
                    <!--featured-icon-box-->
                    <div class="featured-icon-box style3 left-icon icon-align-top">
                      <div class="featured-icon">
                          <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-square">
                              <i class="fa fa-bullseye"></i>
                          </div>
                      </div>
                      <div class="featured-content">
                          <div class="featured-title">
                              <h5>Our Mission</h5>
                          </div>
                          <div class="featured-desc">
                              <p>is to provide high-quality branding services with a focus on innovation and excellence.</p>
                          </div>
                      </div>
                  </div><!-- featured-icon-box end-->
                  <!--featured-box-->
                  <div class="featured-icon-box style3 left-icon icon-align-top">
                      <div class="ttm-icon ttm-icon_element-fill ttm-icon_element-background-skincolor ttm-icon_element-size-md ttm-icon_element-style-rounded"> 
                          <i class="fa fa-binoculars"></i>
                      </div>
                      <div class="featured-content">
                          <div class="featured-title">
                              <h5>Our Vision</h5>
                          </div>
                          <div class="featured-desc">
                              <p>
                                Our vision is to be a leader in the modeling industry, setting new standards for creativity and
                                professionalism.</p>
                          </div>
                      </div>
                  </div><!-- featured-box end-->
                  <!--featured-box-->
                  <div class="featured-icon-box style3 left-icon icon-align-top">
                      <div class="ttm-icon ttm-icon_element-border ttm-icon_element-color-skincolor ttm-icon_element-size-md ttm-icon_element-style-round"> 
                          <i class="fa fa-key"></i>
                      </div>
                      <div class="featured-content">
                          <div class="featured-title">
                              <h5>Our Value</h5>
                          </div>
                          <div class="featured-desc">
                              <p>Our Goals are designed to maximize visibility and reach the target audience effectively.</p>
                          </div>
                      </div>
                  </div><!-- featured-box end-->
                  </div>
              </div>
          </div><!-- row end -->
      </div>
    </section>
    <!-- end mission, vision & value -->

    <!-- faqs -->
    <section class="ttm-row break-991-colum ttm-bgcolor-white clearfix">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="mb-35">
              <h5 class="ttm-textcolor-darkcolor">Frequently Asked Questions</h5>
            </div>
            <!-- wrap-acadion -->
            <div class="wrap-acadion">
              <div class="accordion">
                <!-- toggle -->
                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey ">
                  <div class="toggle-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <span class="ttm-title-text">What does delta do?</span>
                    </a>
                  </div>
                  <div class="toggle-content">
                    <p>
                      Patients may schedule appointment by visiting the clinic
                      between 9:00 AM and 6:00 PM Monday – Friday or by calling
                      (123) 456-7899. The Emergency cases is available up to 8 PM.
                    </p>
                  </div>
                </div>
                <!-- toggle end -->
                <!-- toggle -->
                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey">
                  <div class="toggle-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <span class="ttm-title-text">Where can i get cancer treatment near me?</span>
                    </a>
                  </div>
                  <div class="toggle-content">
                    <p>
                      Sometimes the unexpected happens and you need to cancel your
                      appointment make sure you call us or email us 1 day ago before
                      cancellation.
                    </p>
                  </div>
                </div>
                <!-- toggle end -->
                <!-- toggle -->
                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey">
                  <div class="toggle-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <span class="ttm-title-text">How much does it cost to to get a treatment at delta?</span>
                    </a>
                  </div>
                  <div class="toggle-content">
                    <p>
                      Please visit contact us page for all your queries and
                      redressal of grievances. You can also contact us on +12 (3)
                      4567 899 number.
                    </p>
                  </div>
                </div>
                <!-- toggle end -->
                <!-- toggle -->
                <div class="toggle ttm-style-classic ttm-toggle-title-bgcolor-grey">
                  <div class="toggle-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <span class="ttm-title-text">Who the doctors that work at delta?</span>
                    </a>
                  </div>
                  <div class="toggle-content">
                    <h6>First appointment, please bring the following:</h6>
                    <ul>
                      <li>Insurance card</li>
                      <li>A picture Photo</li>
                      <li>
                        Any previous medical records (including test results from
                        other clinics)
                      </li>
                      <li>All current medications (with prescription )</li>
                    </ul>
                    <h6>Repeat Patient Appointments</h6>
                    <ul>
                      <li>All current medications (with prescription )</li>
                    </ul>
                  </div>
                </div>
                <!-- toggle end -->
              </div>
            </div>
            <!-- wrap-acadion end-->
          </div>
        </div>
        <!-- row end -->
      </div>
    </section>
    <!-- end faqs -->

</div>

{% endblock %}