{% load static %}

<!--footer start-->
<footer class="footer widget-footer clearfix">
  <div class="second-footer ttm-textcolor-white">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
          <div class="widget widget_text clearfix">
            <a class="home-link" href="" title="Delta" rel="home">
              <img
                width="151"
                height="33"
                id="logo-img"
                class="img-center"
                src="{% static 'front/images/logo-white.png' %}"
                alt="logo-img"
              />
            </a>

            <!-- <h3 class="widget-title">About DELTA</h3> -->
            <div class="textwidget widget-text mt-30">
              Our Clinic has grown to provide a world class facility for the
              clinic advanced restorative dentistry.
              <br /><br />
              <div class="social-icons social-hover">
                <ul class="list-inline">
                  <li class="social-facebook">
                    <a
                      class="tooltip-top"
                      target="_blank"
                      href="#"
                      rel="noopener"
                      aria-label="facebook"
                      data-tooltip="Facebook"
                      ><i class="fa fa-facebook" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li class="social-twitter">
                    <a
                      class="tooltip-top"
                      target="_blank"
                      href="#"
                      rel="noopener"
                      aria-label="twitter"
                      data-tooltip="Twitter"
                      ><i class="fa fa-twitter" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li class="social-gplus">
                    <a
                      class="tooltip-top"
                      target="_blank"
                      href="#"
                      rel="noopener"
                      aria-label="gplus"
                      data-tooltip="Google+"
                      ><i class="fa fa-google-plus" aria-hidden="true"></i
                    ></a>
                  </li>
                  <li class="social-linkedin">
                    <a
                      class="tooltip-top"
                      target="_blank"
                      href="#"
                      rel="noopener"
                      aria-label="linkedin"
                      data-tooltip="LinkedIn"
                      ><i class="fa fa-linkedin" aria-hidden="true"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
          <div class="widget style2 widget-out-link clearfix">
            <h3 class="widget-title">Keep In Touch</h3>
            <ul class="widget-post ttm-recent-post-list">
              <li>
                <div class="featured-icon-box iconalign-before-heading">
                  <div class="featured-icon">
                    <div
                      class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square"
                    >
                      <i class="fa fa-phone"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <!-- <h5>+123 456 78910 / 11</h5> -->
                    <a href="tel:+ 251 92 175 7138"
                      ><h4>+ 251 92 175 7138</h4></a
                    >
                  </div>
                </div>
              </li>
              <li>
                <div class="featured-icon-box iconalign-before-heading">
                  <div class="featured-icon">
                    <div
                      class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square"
                    >
                      <i class="fa fa-envelope-o"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <a href="tel:+ 251 92 175 7138"><h4>info@delta.com</h4></a>
                  </div>
                </div>
              </li>
              <li>
                <div class="featured-icon-box iconalign-before-heading">
                  <div class="featured-icon">
                    <div
                      class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square"
                    >
                      <i class="fa fa-map-marker"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <a href="https://maps.app.goo.gl/jsgfjP6VSxuHhLUy9"
                      ><h4>Black Lion Hospital, Addis Ababa</h4></a
                    >
                  </div>
                </div>
              </li>
              <li>
                <div class="featured-icon-box iconalign-before-heading">
                  <div class="featured-icon">
                    <div
                      class="ttm-icon ttm-icon_element-border ttm-icon_element-color-white ttm-icon_element-size-sm ttm-icon_element-style-square"
                    >
                      <i class="fa fa-clock-o"></i>
                    </div>
                  </div>
                  <div class="featured-title">
                    <a href=""><h4>Mon – Sat 07:00 – 21:00</h4></a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 widget-area">
          <div class="widget widget_nav_menu clearfix">
            <h3 class="widget-title">Quick Links to</h3>
            <ul id="menu-footer-quick-links">
              <li><a href="">About Us</a></li>
              <li><a href="">Services</a></li>
              <li><a href="">Latest News</a></li>
              <li><a href="">Upcoming Events</a></li>
              <li><a href="">AAU </a></li>
              <li><a href="">EKCC</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-footer-text ttm-textcolor-white">
    <div class="container">
      <div class="row copyright">
        <div class="col-md-12">
          <span>Copyright © 2023 DELTA, by </span>
        </div>
        <div class="col-md-12">
          <ul id="menu-footer-menu" class="footer-nav-menu">
            <li><a href="#">.</a></li>
            <li><a href="https://debolx.com/">DEBOL ENGINEERING</a></li>
            <li><a href="#"></a>.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer end-->
