{% extends 'staff/base.html' %} {% load static %} {% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'staff:event' %}">Events</a></li>
{% endblock %} {% block content %}
<section>
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">List of Events</h4>
          <div class="col-12 text-right">
            <button
              class="btn ml-2"
              style="background-color: #294e6f; color: #fff"
            >
              <a href="{% url 'staff:add_event' %}">Add Events</a>
            </button>
          </div>
          <div class="float-right">
            <form
              method="GET"
              action="{% url 'staff:event' %}"
              class="form-inline"
            ></form>
          </div>
        </div>
        <div class="card-content">
          <div class="card-body card-dashboard">
            <table class="table table-striped table-bordered multi-ordering">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Event Handler</th>
                  <th>Place</th>
                  <th>created Date</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for events in event %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ events.title }}</td>
                  <td>{{ events.event_handler }}</td>
                  <td>{{ events.place }}</td>
                  <td>{{ events.start_date|date:"M d, Y" }}</td>
                  <td>{{ events.status }}</td>
                  <td>
                    <span class="dropdown">
                      <a
                        id="btnSearchDrop31"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="true"
                        class="dropdown-toggle dropdown-menu-right"
                      >
                        Actions</a
                      >
                      <span
                        aria-labelledby="btnSearchDrop31"
                        class="dropdown-menu mt-1 dropdown-menu-right"
                      >
                        <a
                          href="{% url 'staff:events_update' id=events.id %}"
                          class="dropdown-item"
                          ><i class="fa fa-edit"></i>Edit Event</a
                        >
                        <a onclick="return confirm('are you sure do you want to delete this item')"
                          href="{% url 'staff:events_delete' id=events.id %}"
                          class="dropdown-item"
                          ><i class="fa fa-trash danger"></i>Delete Event</a
                        >
                      </span>
                    </span>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
